h1{
    text-align: center;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    

}
.upperdiv{
 height:50px;
 text-align:right;
}
.up-buttons{
    margin:10px 20px 10px 10px
}
a{
    position: relative;
    font-size: 18px;
    color: white;
    margin: 25px 5px 0px 10px;
}
#header-title{
    text-align: center;
    font-size:35px;
    display:inline;
    position: absolute;
    margin:30px 0px 10px 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    /* color: rgb(8, 12, 231); */
}
#about{
    height:420px;
    /* background-color: teal; */
}
.mySlides{
    height:430px;
}
#mySlidDiv{
    background-color: rgb(131, 131, 230);
    text-align: left;
    padding: 5% 0% 0% 10%;
}
#mySlidDiv h2{
    color: white;
}
#mySlidDiv span{
    font-size:45px;
    font-weight: 800;
    color:rgb(109, 12, 173);
}
.main{
background-color: white;
/* margin:20px 0px 10% 0px */
}

/* decorate buttons & textboxcs*/
.container-search{
    align-items: center;
    position: relative;
    margin-top: 15%;
}
.searchBox{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    /* background-color: aqua; */
}
#input-pin{
/* display:block; */
border-radius: 20px;
border-style: solid;
border-width: 2px;
width:600px;
height:40px;
border-color:rgb(83, 81, 81);
margin-top:40px;
}
#by-pin-btn{
/* display:block; */
width:150px;
height:40px;
margin:0px 0px 10px 38%;
border-radius: 20px;
}
.display-data{
    margin:10px 20% 10px 10px;
    min-width:auto;
    background-color: bisque;
}
.box{
    color:pink;
    display:flex;
    flex-direction: column;
    height:100px;
    width:300px;
    margin:20px 10px 20px 10px;
    background-color: purple;
    justify-content: space-around;
}